* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
/.gitee export-ignore
/.workflow export-ignore
/docs export-ignore
/tmp export-ignore
/ui-mockups export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
composer-setup.php export-ignore
composer.phar export-ignore
