<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.blog.mapper.BlogArticleLikeMapper">

    <resultMap type="BlogArticleLike" id="BlogArticleLikeResult">
        <result property="id"    column="id"    />
        <result property="articleId"    column="article_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userIp"    column="user_ip"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <select id="checkLiked" resultType="BlogArticleLike">
        select id, article_id, user_id, user_ip, create_time
        from blog_article_like
        where article_id = #{articleId}
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="userIp != null and userIp != ''">
            and user_ip = #{userIp}
        </if>
        limit 1
    </select>

    <insert id="insertBlogArticleLike" parameterType="BlogArticleLike" useGeneratedKeys="true" keyProperty="id">
        insert into blog_article_like
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != null">article_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="userIp != null and userIp != ''">user_ip,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleId != null">#{articleId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userIp != null and userIp != ''">#{userIp},</if>
            sysdate()
        </trim>
    </insert>

    <delete id="deleteBlogArticleLike">
        delete from blog_article_like
        where article_id = #{articleId}
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="userIp != null and userIp != ''">
            and user_ip = #{userIp}
        </if>
    </delete>

    <update id="updateArticleLikeCount">
        update blog_article
        set like_count = like_count + #{increment}
        where article_id = #{articleId}
    </update>

</mapper>
