<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.blog.mapper.BlogArticleTagMapper">

    <delete id="deleteBlogArticleTagByArticleId" parameterType="Long">
        delete from blog_article_tag where article_id = #{articleId}
    </delete>

    <insert id="batchBlogArticleTag" parameterType="java.util.List">
        insert into blog_article_tag (article_id, tag_id) values
        <foreach collection="list" item="item" separator=",">
            (#{item.articleId}, #{item.tagId})
        </foreach>
    </insert>

    <select id="selectTagIdsByArticleId" parameterType="Long" resultType="Long">
        select tag_id from blog_article_tag where article_id = #{articleId}
    </select>

</mapper>
