<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.blog.mapper.BlogArticleFavoriteMapper">

    <resultMap type="BlogArticleFavorite" id="BlogArticleFavoriteResult">
        <result property="id"    column="id"    />
        <result property="articleId"    column="article_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userIp"    column="user_ip"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <select id="checkFavorited" resultType="BlogArticleFavorite">
        select id, article_id, user_id, user_ip, create_time
        from blog_article_favorite
        where article_id = #{articleId}
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="userIp != null and userIp != ''">
            and user_ip = #{userIp}
        </if>
        limit 1
    </select>

    <insert id="insertBlogArticleFavorite" parameterType="BlogArticleFavorite" useGeneratedKeys="true" keyProperty="id">
        insert into blog_article_favorite
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != null">article_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="userIp != null and userIp != ''">user_ip,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleId != null">#{articleId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userIp != null and userIp != ''">#{userIp},</if>
            sysdate()
        </trim>
    </insert>

    <delete id="deleteBlogArticleFavorite">
        delete from blog_article_favorite
        where article_id = #{articleId}
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="userIp != null and userIp != ''">
            and user_ip = #{userIp}
        </if>
    </delete>

    <update id="updateArticleFavoriteCount">
        update blog_article
        set favorite_count = favorite_count + #{increment}
        where article_id = #{articleId}
    </update>

</mapper>
