@charset 'utf-8';
@import "../../src/css/Remix/remixicon.css";

@font-face{font-family:HarmonyOS_Sans_SC_Medium;font-style:normal;font-display:swap;
src:url(../../src/css/HarmonyOS_Sans_SC_Medium.subset.woff2) format('woff2')}
*{font-family:HarmonyOS_Sans_SC_Medium} 


body{ background: #f6f8fb!important }

.aibtn{
    margin-top: 10px;;
}

.setfb {
    border-radius: 4px;
    background: #cbe4ef61 !important;
    box-shadow: 0 1px 5px #ddd;
    -moz-box-shadow: 0 1px 5px #ddd;
    -webkit-box-shadow: 0 1px 5px #ddd;
    border-color: #ddd; 
}
.tagshelper a{cursor: pointer; padding: 0px 6px; margin: 2px 0;display: inline-block;border-radius: 2px;text-decoration: none;}
.tagshelper a:hover{background: #ccc;color: #fff;}

.op_cur li a{ background-color: #fff; }

#file-list li{ position: relative; }

.on_img{
    position: absolute;
    right: 5px;
    top: 8px;
    color: #499BC3;
}
.chee_img{
    width: 180px;
    height: 120px;
    object-fit: cover;
    background-size: 100% 100%;
        border-radius: 8px;
}
.coverUploaderView i{
    position: absolute;
    top: -19px;
    right: -13px;
    z-index: 8040;
    border-radius: 50%;
    opacity: 0;
}

.coverUploaderView:hover .img_delete{
    opacity: 1 !important;
}

#file-list li img{
    width: 50%;
    border-radius: 6px;
}

.coverUploaderView {
    margin-top: 20px;
    border: 1px solid #e9ecf3;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    height: 147px;
    position: relative;
    width: 220px;
    background-color: white;
}

.coverUploaderView .container {
    height: 100%;
    position: relative;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.coverUploaderView .container .placehold {
    background: url(http://pic.rmb.bdstatic.com/4c5f043e5bd9f2c316f888edd196d6b1.png) no-repeat 50%;
    background-size: contain;
    height: 36px;
    left: 50%;
    opacity: .5;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 36px;
}

::-webkit-scrollbar { width: 8px }

::-webkit-scrollbar-track { background: rgba(51, 51, 51, .1) }

::-webkit-scrollbar-thumb { background: #2299DD; border-radius: 4px }

::-webkit-scrollbar-thumb:active { background-color: #2299DD }